---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ExampleHtmlOnly from "../accordion-examples/html-only.astro"
import ExampleNested from "../accordion-examples/nested-accordions.astro"
import ExampleCustomStruture from "../accordion-examples/custom-structure.astro"
import ExampleNotExpended from "../accordion-examples/first-element-not-expand.astro";
import ExampleChangeDuration from "../accordion-examples/change-duration.astro";
import ExampleAccordionTypeToggle from "../accordion-examples/toggle-accordion.astro";
import ExampleDynamicAccordion from "../accordion-examples/dynamic-accordion.astro";
import Example_1 from "../accordion-examples/example-1.astro";
---

<Layout title="Accordion Examples">
   <main>
      <Container>
         <p class="text-lg">Continue with examples or go to <a href="/JS-Components/accordion/docs">Docs</a></p>

         <h1>Can work with only HTML</h1>
         <ExampleHtmlOnly />

         <h1>Nested accordions support</h1>
         <ExampleNested />

         <h1>Dynamically added accordion will work</h1>
         <ExampleDynamicAccordion />

         <h1>Custom structure</h1>
         <ExampleCustomStruture />

         <h1>First accordion collapsed/close initially</h1>
         <ExampleNotExpended />

         <h1>Expand/open multiple accordions at the same time</h1>
         <ExampleAccordionTypeToggle />

         <h1>Change transition duration</h1>
         <ExampleChangeDuration />

         <h1>Custom design example</h1>
         <Example_1 />
      </Container>
   </main>
</Layout>
