<header class="bg-black/20">
   <nav class="max-w-5xl mx-auto p-2 flex justify-between text-lg">
      <a href="./">JS Components</a>
      <ul class="flex gap-3">
         <li><a href="./accordion">Accordion</a></li>
         <li><a href="./slider">Slider</a></li>
      </ul>
   </nav>
</header>
