---
import Layout from "../layouts/Layout.astro";
import "../styles/accordion.css";
---

<Layout title="Accordion" className="max-w-5xl mx-auto">
   <div class="eg-1 jsc-accordion-style">
      <h1>Basic Example</h1>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
   </div>
   <div class="eg-2 jsc-accordion-style">
      <h1>Expend any Accordion at the same time.</h1>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
         </div>
      </div>
   </div>
   <div class="eg-3 jsc-accordion-style">
      <h1>Nested Accordions</h1>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
            <div class="eg-nested-1 jsc-accordion-style">
               <div class="accordion-item-wrapper">
                  <h2>
                     <button class="accordion-btn"
                        >Lorem ipsum dolor sit amet.</button>
                  </h2>
                  <div class="accordion">
                     <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Maxime, cupiditate sed. Illo itaque eligendi
                        eius. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Quaerat ab inventore rem amet
                        impedit in aut praesentium animi, facere nostrum
                        eaque iste. Placeat, quo? Libero natus veniam
                        incidunt, quaerat, quisquam sed vero similique
                        ratione neque odit dicta laboriosam sequi dolores,
                        est culpa delectus? Perferendis cum quia in tempora
                        facere laborum?
                     </p>
                  </div>
               </div>
               <div class="accordion-item-wrapper">
                  <h2>
                     <button class="accordion-btn"
                        >Lorem ipsum dolor sit amet.</button>
                  </h2>
                  <div class="accordion">
                     <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Maxime, cupiditate sed. Illo itaque eligendi
                        eius. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Quaerat ab inventore rem amet
                        impedit in aut praesentium animi, facere nostrum
                        eaque iste. Placeat, quo? Libero natus veniam
                        incidunt, quaerat, quisquam sed vero similique
                        ratione neque odit dicta laboriosam sequi dolores,
                        est culpa delectus? Perferendis cum quia in tempora
                        facere laborum?
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="accordion-item-wrapper">
         <h2>
            <button class="accordion-btn"
               >Lorem ipsum dolor sit amet.</button>
         </h2>
         <div class="accordion">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Maxime, cupiditate sed. Illo itaque eligendi eius. Lorem
               ipsum, dolor sit amet consectetur adipisicing elit. Quaerat ab
               inventore rem amet impedit in aut praesentium animi, facere
               nostrum eaque iste. Placeat, quo? Libero natus veniam
               incidunt, quaerat, quisquam sed vero similique ratione neque
               odit dicta laboriosam sequi dolores, est culpa delectus?
               Perferendis cum quia in tempora facere laborum?
            </p>
            <div class="eg-nested-2 jsc-accordion-style">
               <div class="accordion-item-wrapper">
                  <h2>
                     <button class="accordion-btn"
                        >Lorem ipsum dolor sit amet.</button>
                  </h2>
                  <div class="accordion">
                     <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Maxime, cupiditate sed. Illo itaque eligendi
                        eius. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Quaerat ab inventore rem amet
                        impedit in aut praesentium animi, facere nostrum
                        eaque iste. Placeat, quo? Libero natus veniam
                        incidunt, quaerat, quisquam sed vero similique
                        ratione neque odit dicta laboriosam sequi dolores,
                        est culpa delectus? Perferendis cum quia in tempora
                        facere laborum?
                     </p>
                  </div>
               </div>
               <div class="accordion-item-wrapper">
                  <h2>
                     <button class="accordion-btn"
                        >Lorem ipsum dolor sit amet.</button>
                  </h2>
                  <div class="accordion">
                     <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Maxime, cupiditate sed. Illo itaque eligendi
                        eius. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Quaerat ab inventore rem amet
                        impedit in aut praesentium animi, facere nostrum
                        eaque iste. Placeat, quo? Libero natus veniam
                        incidunt, quaerat, quisquam sed vero similique
                        ratione neque odit dicta laboriosam sequi dolores,
                        est culpa delectus? Perferendis cum quia in tempora
                        facere laborum?
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>
      import JscAccordion from "@js-components/accordion";

      const eg1 = new JscAccordion({
         container: ".eg-1",
         containerIsAccordion: false,
         accordionElWrapper: ".accordion-item-wrapper",
         accordionEl: ".accordion",
         button: ".accordion-item-wrapper button",
      });

      const eg2 = new JscAccordion({
         container: ".eg-2",
         containerIsAccordion: false,
         accordionElWrapper: ".accordion-item-wrapper",
         accordionEl: ".accordion",
         button: ".accordion-item-wrapper button",
         type: "toggle",
      });

      const eg3 = new JscAccordion({
         container: ".eg-3",
         containerIsAccordion: false,
         accordionElWrapper: ".accordion-item-wrapper",
         accordionEl: ".accordion",
         button: ".accordion-item-wrapper button",
      });

      const eg3Nested1 = new JscAccordion({
         container: ".eg-nested-1",
         containerIsAccordion: false,
         accordionElWrapper: ".accordion-item-wrapper",
         accordionEl: ".accordion",
         button: ".accordion-item-wrapper button",
      });

      const eg3Nested2 = new JscAccordion({
         container: ".eg-nested-2",
         containerIsAccordion: false,
         accordionElWrapper: ".accordion-item-wrapper",
         accordionEl: ".accordion",
         button: ".accordion-item-wrapper button",
         type: "toggle",
      });
   </script>
</Layout>
