/* reset */
[data-jsc-accordion-container] [data-jsc-accordion-item] .accordion-header{
  margin: 0;
}

[data-jsc-accordion-container] [data-jsc-accordion-item] .accordion-button{
  display: block;
  width: 100%;
  text-align: left;
  border-radius: 0;
  border: 0;
}

[data-jsc-accordion-container] [data-jsc-accordion-item] .accordion-button:not(:disabled){
  cursor: pointer;
}

/* basic design */
[data-jsc-accordion-container] [data-jsc-accordion-item] .accordion-button{
  padding: 10px;
  background-color: #eee;
}

[data-jsc-accordion-container] [data-jsc-accordion-item]{
  border: 2px solid #333;
}

[data-jsc-accordion-container] [data-jsc-accordion-item]:not(:first-child){
  margin-top: 8px;
}

[data-jsc-accordion-container] [data-jsc-accordion-item] [data-jsc-accordion] > .accordion-content{
  padding: 10px;
}

[data-jsc-accordion]{
  padding: 0!important;
  margin: 0!important;
  /* removing these because it will have some glitchy effect */
  overflow: hidden;
}
