<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="../../../favicon.ico">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="./accordion.css">
    <title>Accordion</title>
</head>

<body>
    <div class="jsc-accordion text-4xl bg-gray-300 text-black p-4 font-medium">
        <h1><button class="accordion-btn w-full bg-transparent border-0 text-left p-0" data-jsc-target="eg-1">Lorem ipsum dolor sit amet.</button></h1>
        <div id="eg-1" class="text-gray-600" data-jsc-accCon="">
            <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cupiditate sed. Illo itaque eligendi eius.</h2>
        </div>
    </div>
    <div class="jsc-accordion text-4xl bg-green-300 text-black p-4 font-medium">
        <h1><button class="accordion-btn w-full bg-transparent border-0 text-left p-0" data-jsc-target="eg-2">Lorem ipsum dolor sit amet.</button></h1>
        <div id="eg-2" class="text-neutral-700" data-jsc-accCon="">
            <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cupiditate sed. Illo itaque eligendi eius.</h2>
        </div>
    </div>
    <div class="jsc-accordion text-4xl bg-[#000] text-white p-4 font-medium">
        <h1><button class="accordion-btn w-full bg-transparent border-0 text-left p-0" data-jsc-target="eg-3">Lorem ipsum dolor sit amet.</button></h1>
        <div id="eg-3" class="text-gray-300" data-jsc-accCon="">
            <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cupiditate sed. Illo itaque eligendi eius.</h2>
        </div>
    </div>
    <div class="jsc-accordion text-4xl bg-[#60b7e5] text-black p-4 font-medium">
        <h1><button class="accordion-btn w-full bg-transparent border-0 text-left p-0" data-jsc-target="eg-4">Lorem ipsum dolor sit amet.</button></h1>
        <div id="eg-4" class="text-gray-300" data-jsc-accCon="">
            <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cupiditate sed. Illo itaque eligendi eius.</h2>
        </div>
    </div>
    <div class="jsc-accordion text-4xl bg-[#20f394] text-black p-4 font-medium">
        <h1><button class="accordion-btn w-full bg-transparent border-0 text-left p-0" data-jsc-target="">Lorem ipsum dolor sit amet.</button></h1>
        <div class="text-gray-700" data-jsc-accCon="">
            <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cupiditate sed. Illo itaque eligendi eius.</h2>
        </div>
    </div>
    <script src="./accordion.js"></script>
</body>

</html>