<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../..//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../..//favicon-16x16.png">
    <link rel="stylesheet" href="./style.css">
    <title>Accordion</title>
</head>

<body>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, consequatur. Voluptatem, sed.</p>
        <a id="a" href="#">read more</a>
    </div>
    <h3>Set Default Collapsed</h3>
    <p class="accordion" data-jsc-accCon="true" data-collapse="true" data-targetBtn="#eg-1,#a">Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Quae sit quam, ab blanditiis itaque aliquid. Fuga sint
        eos expedita odit ullam repudiandae corrupti sed deleniti?
       <button data-accClose="">Close</button>
    </p>
    <button id="eg-1" class="red" data-accExpendText="Expend" data-accCollapseText="Collapse">Collapse</button>
    <hr>
    <h3>If initial state not set default Expended state will be use</h3>
    <p class="accordion" data-jsc-accCon="true" data-targetBtn="#eg-2" style="height: auto!important;">Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Quae sit quam, ab blanditiis itaque aliquid. Fuga sint
        eos expedita odit ullam repudiandae corrupti sed deleniti?</p>
    <button data-targetCon="" id="eg-2" data-accExpendText="Expend" data-accCollapseText="Collapse">Collapse</button>
    <script src="./accordion.js"></script>
</body>

</html>