<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../..//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../..//favicon-16x16.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./style.css">
    <title>Accordion</title>
</head>

<body>
    <h3>Default is Collapsed</h3>
    <p id="eg-1" class="accordion" data-jsc-accCon="">Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Quae sit quam, ab blanditiis itaque aliquid. Fuga sint
        eos expedita odit ullam repudiandae corrupti sed deleniti?
    </p>
    <button data-accExpendText="Expend" data-accCollapseText="Collapse" data-jsc-target="eg-1">Expend</button>
    <button data-accExpendText="Expend" data-accCollapseText="Collapse" data-jsc-target="eg-1">Expend</button>

    <hr>
    <h3>If initial state not set default Expended state will be use</h3>
    <p id="eg-2" class="accordion" data-jsc-accCon="">Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Quae sit quam, ab blanditiis itaque aliquid. Fuga sint
        eos expedita odit ullam repudiandae corrupti sed deleniti?</p>
    <button data-jsc-target="eg-2" data-accExpendText="Expend" data-accCollapseText="Collapse">Expend</button>
    <hr>
    <h3>Two Method to collapse with inside button</h3>
    <p id="eg-3" class="accordion" data-jsc-accCon="true" data-collapse="false">Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Quae sit quam, ab blanditiis itaque aliquid. Fuga sint
        eos expedita odit ullam repudiandae corrupti sed deleniti?
    </p>
    <button data-jsc-target="eg-3" data-accExpendText="Expend" data-accCollapseText="Collapse">Collapse</button>
    <script src="./accordion.js"></script>
</body>

</html>