.jsc-slider-container{
 
  /* flex-wrap: wrap; */
  overflow-x: hidden;
  transition: transform 0.3s ease-out;
}
.jsc-slider-container .jsc-slider-wrapper{
   display: flex;
   /* gap: 20px; */
   transition-property: transform;
}
.jsc-slider-container .slide{
   width: 100%;
   flex-shrink: 0;
}
.jsc-slider-container .slide img{
   width: 100%;
   height: 550px;
   object-fit: cover;
}